/* Reset some default margins */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("https://img.freepik.com/free-vector/realistic-travel-background-with-elements_52683-77784.jpg") ;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: #151111;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}


nav {
    background-color: #0077b6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

nav h2 {
    margin: 0;
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffdd00;
}


nav form {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav input[type="text"] {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    outline: none;
}

nav button {
    background-color: #ffdd00;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #ffc300;
}

h1 {
    text-align: center;
    margin: 60px 0 10px;
    font-size: 36px;
    color: #111416;
}


p {
    max-width: 800px; 
    margin: 150px auto 40px auto; 
    font-size: 18px;
    color: #0e0a28;
    text-align: left;
}


#results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto 40px;
    padding: 0 10px;
}


.result {
    background: white;
    border-radius: 10px;
    padding: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s ease;
}

.result:hover {
    transform: scale(1.03);
}

.result img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.result h3 {
    margin: 15px 0 10px;
    font-size: 20px;
    color: #0a0f11;
}

.result p {
    font-size: 20px;
    color: #0f0d0d;
    max-width: 400px;
    text-align:center;
    margin: 10px auto 40px auto;
}
